// Custom styles.
//.post {
//   margin-top: 25px;
//   margin-bottom: 25px;
//   padding: 5px;
//   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
//   opacity: 0.8
//}

//body {
//    background:url(https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture);
//    background-repeat: no-repeat;
//    background-attachment:fixed;
//    background-position:50% 50%;
//}

.ImageGrid {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
}
.card {
  overflow: hidden;
  transition: .3s ease-in-out;
  border-radius: 8px;
  background-color: #ddd;
}
.ImageInCard img {
  padding: 0 0 0 0;
  border-radius: 8px;
}
